h1{
display: block;
-webkit-user-select: none;
margin: auto;
cursor: zoom-out;
background-color: hsl(0, 0%, 90%);
 background-color:;
}
img[
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

img {
overflow-clip-margin: content-box;
overflow: clip;
}